# Zachary Pilbean

# IP6

# DS 160

# Version 1

# Multiple Linear Regression- Car dataset

## Importing the libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

## Importing the dataset

In [3]:
dataset=pd.read_csv('excel/CAR.csv')

In [4]:
dataset.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           4337 non-null   int64
 1   selling_price  4337 non-null   int64
 2   km_driven      4337 non-null   int64
 3   fuel           4337 non-null   object
 4   seller_type    4337 non-null   object
 5   transmission   4337 non-null   object
 6   owner          4337 non-null   object
dtypes: int64(3), object(4)
memory usage: 237.3+ KB

### Split the dataset into independent and Dependent variables

In [6]:
dataset.columns

Index(['year', 'selling_price', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner'],
      dtype='object')

In [7]:
X=dataset[['year', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner']]
y=dataset[['selling_price']]

### Work with the catagorical data

In [8]:
X=pd.get_dummies(dataset[['year', 'km_driven', 'fuel', 'seller_type',
       'transmission', 'owner']],
                drop_first=True)

In [9]:
X.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2007,70000,0,0,0,1,1,0,1,0,0,0,0
1,2007,50000,0,0,0,1,1,0,1,0,0,0,0
2,2012,100000,1,0,0,0,1,0,1,0,0,0,0
3,2017,46000,0,0,0,1,1,0,1,0,0,0,0
4,2014,141000,1,0,0,0,1,0,1,0,1,0,0

## Splitting the dataset into the Training set and Test set
- Random State 20

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_rest, y_train, y_rest=train_test_split(X,y, 
                                                test_size=.2,
                                                random_state=42)

In [11]:
X_test, X_val, y_test, y_val=train_test_split(X_rest, 
                                              y_rest, 
                                             test_size=.5,
                                             random_state=42)

## Training the Multiple Linear Regression model on the Training set

In [12]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train.values, y_train)

LinearRegression()

## Intercept and Coefficient

In [13]:
print('Coefficients:', regressor.coef_)
print('Intercept:', regressor.intercept_)

Coefficients: [[ 3.55557518e+04 -8.29208546e-01  2.84045380e+05 -6.17092002e+05
   5.28141744e+04 -2.28053742e+03 -5.62457103e+04  1.82462659e+05
  -8.99442876e+05 -8.96645928e+03 -5.32992519e+04  1.72731477e+05
  -4.58870032e+04]]
Intercept: [-70293035.83488843]

In [14]:
X_train.columns

Index(['year', 'km_driven', 'fuel_Diesel', 'fuel_Electric', 'fuel_LPG',
       'fuel_Petrol', 'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Manual', 'owner_Fourth & Above Owner',
       'owner_Second Owner', 'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

## Predicting the Test set results

In [15]:
y_pred=regressor.predict(X_test.values)

### Calculate RMSE, R-Square

In [17]:
from sklearn.metrics import mean_squared_error, r2_score

In [18]:
import math
print(f"r-square: {r2_score(y_test,y_pred): .2f}")
print(f"MSE: {mean_squared_error(y_test,y_pred): .2f}")
print(f"RMSE: {math.sqrt(mean_squared_error(y_test,y_pred)): .2f}")

r-square:  0.41
MSE:  147998134341.00
RMSE:  384705.26

## Validation case scenario:
#### 1. Predict how much will be the car selling price for a car of 
- year 2014 
- 70000 km driven 
- fuel type Diesel
- Seller type Dealer
- manual transmission
- first owner

** 465000 ** actual

In [19]:
X_test.head()

,year,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
3630,2012,200000,1,0,0,0,1,0,1,0,0,0,1
254,2006,100000,1,0,0,0,1,0,1,0,1,0,0
1800,2007,78771,1,0,0,0,0,0,1,0,1,0,0
1345,2012,80000,1,0,0,0,1,0,1,0,1,0,0
211,2016,115962,1,0,0,0,1,0,1,0,1,0,0

In [23]:
regressor.predict([[2014,70000,1,0,0,0,0,1,1,0,0,0,0]])

array([[825268.76277986]])